<div class="col-md-5">
  左側
  <!-- <%= fa_icon 'pencil 2x', class: "note-edit" %>
  <%= fa_icon 'trash 2x', class: "note-delete" %> -->
</div>
<div class="col-md-7">
  <%= render partial: 'form', locals: { note: @note } %>
</div>
