<div class="col-md-5">
  <% @notes.each do |note| %>
    <h4><%= note.title %></h4>
    <%= simple_format(truncate(note.body)) %>
    <hr>
  <% end %>
</div>
<div class="col-md-7">
  <%= render partial: 'form', locals: { note: @note } %>
</div>
